{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<h1>Créez votre propre mot de passe</h1>
<div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-info m-3">
            <div>{{ message }}</div>
            <div>
                <a href="{{path("app_login")}}"><button class="btn">
                Accueil
                </button></a>
            </div>
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}