{% extends 'base.html.twig' %}

{% block title %}Connexion {% endblock %}

{% block body %}
<div class="page-100 full-center" style="background-image : url('{{asset("img/background-fitness.jpg")}}')">
    <div class="wrapper-form p-4">
        <form method="post">
            <h1 class="text-center py-3">Connexion</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="pt-2 pb-4">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn-grad grad-green mt-2" type="submit">
                Valider
            </button>
        </form>
    </div>
</div>
{% endblock %}
