{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block body %}
    {% include 'includes/navigation.html.twig' %}
    <div class="page-100-nav pt-5" style="background-image : url('{{asset("img/presse.jpg")}}')">
        <div class="container">
            <div class="alert alert-danger ">
                {{error}}
            </div>
        </div>
    </div>    
{% endblock %}