{% extends 'base.html.twig' %}

{% block title %}Hello FranchiseController!{% endblock %}

{% block body %}
{% include 'includes/navigation.html.twig' %}
    <div class="full-center mt-3">
        <div style="background-color : red ; padding : 30px; border-radius : 12px; color : black">
        {{error}}
    </div>
{% endblock 
%}