{% extends 'base.html.twig' %}

{% block title %}Ma Franchise!{% endblock %}

{% block body %}
{% include 'includes/navigation.html.twig' %}
    <div class="page-100 " style="background-image : url('{{asset("img/weight.jpeg")}}'); padding : 130px;">
    <h1 class="text-center">{{franchise.userInfo.name}}</h1>

    {% if franchise.structures|length > 0  %}
        {% for structure in franchise.structures %}
            <div class="wrapper-inline">
            {{structure.userInfo.name}}

            {% if structure.isActive %}
                <a href="{{path("read_structure", {'token': structure.userInfo.url })}}">voir</a>
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="wrapper-inline">
        Vous n'avez pour le moment aucune structure
        </div>
    {% endif %}


    <div>Options par défaut : <div>
    {% include "includes/permit.html.twig" %}
    </div>
{% endblock %}
