{% extends 'base.html.twig' %}

{% block title %}Ma structure !{% endblock %}

{% block body %}
    {% include 'includes/navigation.html.twig' %}
      <div class="page-100 " style="background-image : url('{{asset("img/bg-pump.webp")}}')">

    {% if url is defined %}
        <a href="{{path("read_franchise", {"token" : url})}}"><button class="btn btn-info">< Ma Franchise</button></a>
    {% endif %}
        
    <div>Options par défaut : <div>
    {% include "includes/permit.html.twig" %}
    </div>

{% endblock %}