{% extends 'base.html.twig' %}

{% block title %}Hello FranchiseController!{% endblock %}

{% block body %}
{% include 'includes/navigation.html.twig' %}
{% if url is defined %}
<a href="{{path("read_franchise", {"token" : url})}}"><button class="btn btn-info">< Ma Franchise</button></a>
{% endif %}

    {{structure.userInfo.name}}    

{% endblock %}
