<nav class="d-flex justify-content-between align-items-center">
    <img src="{{ asset("img/marque.png") }}"/>
    <a href="{{path("app_create_franchise")}}"><button class="btn btn-secondary m-3">Ajouter une Nouvelle franchise</button></a>
</nav>