@import "custom";
@import "~bootstrap/scss/bootstrap";

$nav-color : #1e352f;
$bg-color : #30542f;



body{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
              user-select: none; 
}

body{
    background-color : $bg-color;
    color : white;
}
nav{
    background-color : $nav-color;
    height: 140px;   
}
.btn{
    color : white;
}
nav img{
    height : 100%;
    width : auto;
    margin-left  :20px;
}
.box-wrapper{
    border : 1px solid white;
    background-color: white;
    color : black;
    border-radius: 12px;
    height : 220px;
    width : 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    font-size : 19px; 
    padding : 20px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-wrapper-big{
    height : auto;
    width : 100%;
    max-width : 500px;
}
.box-inactive{
    border : 1px solid rgb(170, 170, 170);
    background-color: rgb(177, 177, 177);
}
.green{
    color : rgb(1, 128, 1);
    font-weight: bold;
}
.red{
    color : red;
    font-weight: bold;
}
.full-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    color : black
}


.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
