@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');

//Variables
$font1 : 'Lobster', cursive;
$font-button : 'Rubik', cursive;
$font2 : 'Tiro Gurmukhi', serif;
$bg-color : rgb(226, 220, 220);


/**Global Style**/
body{
    // color : black;
    // -webkit-touch-callout: none; /* iOS Safari */
    // -webkit-user-select: none; /* Safari */
    // -khtml-user-select: none; /* Konqueror HTML */
    // -moz-user-select: none; /* Old versions of Firefox */
    // user-select: none; 
    background-color: $bg-color;
}
h1, h2, h3{
    font-family : $font1;
}
.w-100{
    width : 100%;
}
.full-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link , a:visited, a:hover{
    text-decoration: none;
}
.bold{
    font-weight :700;
}
.pl-50{
    padding-left : 50px;
}


//text
.green{
    color : rgb(1, 88, 1);
    font-weight: bold;
}
.red{
    color : rgb(134, 0, 0);
    font-weight: bold;
}
.circle-green{
  height : 25px;
  width : 25px;
  border-radius: 90px;  
  background-color : green;
  margin-left : 6px
}
.circle-red{
    height : 25px;
  width : 25px;
  border-radius: 90px;  
  background-color : red;
  margin-left : 6px;
}


//Buttons
.btn-eye{
    background-color: transparent;
    border: none;
}
.logout{
    min-width : 50px;
}
.btn-grad {
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    border : none;
    display : flex; 
    align-items : center;
    justify-content : center;
}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.grad-blue{
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
}
.grad-red{
    background-image: linear-gradient(to right, #c44c4c 0%, #d33c3c  51%, #c44c56  100%);
}
.grad-green{
    background-image: linear-gradient(to right, #1e9724 0%, #2aa83d  51%, #28932e  100%);
}
.grad-gold{
    background-image: linear-gradient(to right, #cec635 0%, #a8a22a  51%, #8e9328  100%);
}
.grad-darkblue{
    background-image: linear-gradient(to right, #3575ce 0%, #2a5fa8  51%, #284c93  100%);
}
.grad-lightgreen{
    background-image: linear-gradient(to right, #5bda5b 0%, #4dc74d  51%, #54d754  100%);
}
.btn-small{
    padding : 5px;
}
.size-up:hover{
    transform: scale(1.1);
}


//form
input{
    font-family: 'Tiro Gurmukhi', serif;;
}
.invalid-feedback{
    font-size : 17px;
    color : rgb(181, 0, 0)!important;
    font-family : $font2;
    font-weight : 600;  
}
.form-label{
    font-family: $font2;
}
#filter{
    display : flex; 
    flex-direction: column;
    align-items: flex-start;
}

//Input search//
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    display : flex;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-bottom: 2px solid rgb(0,0,0);
    padding-right: 40px;
    color: black;
    width: 200px;
    background-color: $bg-color;
    color : black;

}
.input-search::placeholder{
    color:rgb(88, 80, 80);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 200;
}
  .btn-search{
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    color:black ;
    background-color:transparent;
    pointer-events: painted; 
    display : flex;
    justify-content: center;
    align-items: center; 
}
//input filter//
.radio-box {
    display: flex;
    align-items: center;
    //   width: 280px;
    height: 40px;
    label {
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: inherit;
      width: 80px;
      height: 100%;
      text-align: center;
      border-radius: 4px 16px 0px 0px;
      overflow: hidden;
      transition: linear 0.3s;
      color: #545454dd;
      margin-right : 0.8px;
  }
  input[type="radio"] {
      appearance: none;
      display: none;
  }
  
  input[type="radio"]:checked + label {
      // background-image: linear-gradient(to right, #5bda5b 0%, #4dc74d  51%, #54d754  100%);
      // background-image: linear-gradient(to right, #1e9724 0%, #2aa83d  51%, #28932e  100%);
      background-color: black;;
      color: #f1f3f5;
      font-weight: 700;
      transition: 0.1s;
  }
  input[type="radio"]:not(:checked) + label {
      background-color: rgba(152, 152, 152, 0.173);
  }
  input[type="radio"]:not(:checked):hover + label {
      background-color: rgba(0, 0, 0, 0.299);
      
  }
  input[type="radio"]:not(:checked) + label {
      background-color: rgba(152, 152, 152, 0.173);
  }
}

.isActive{
    input[type=checkbox]{
    display: none;
    }
    .form-check{
        padding-left : 0px;
    }
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 60px;
        height: 35px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }
  
    label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 31px;
        height: 31px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }
  
    input:checked + label {
        background: #31c400;
    }
  
    input:checked + label:after {
        transform: translateX(24px);
    }
}


/***Nav***/
nav{
    background-color: $bg-color;
    height: 130px; 
    .img-logo{
        height : 100px;
        margin : auto;
        width : auto;
    }
    h1{
        font-family : $font1;
        font-weight : 600;
        color : black
    }
}

//Boxes
.box-wrapper{
    border : 1px solid white;
    background-color: white;
    color : black;
    border-radius: 12px;
    width : 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    font-size : 19px; 
    padding : 15px;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font2; 
}
.box-wrapper-big{
    height : auto;
    width : 100%;
    max-width : 500px;
}
 .box-wrapper-inline{
    width : 100%;
    border-radius : 12px;
    background-color : white;
    height : 60px;
    display : flex; 
    align-items : center;
    justify-content : space-between;
    color : black;
    border : none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    h3{
        font-size: 1.8rem;

    }
}
.box-inactive{
    border : 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
}

.wrapper-email{
    width : 100%;
    background-color :white;
    border-radius : 10px;
}
.wrapper-onglets{
    button:first-child{
        border-radius : 10px 0px 0px 10px;
    }
    button:last-child{
        border-radius :  0px 10px 10px 0px ;
    }
    button{
        background-color :rgba(152, 152, 152, 0.293);
        color : white;
        border : none;
        padding : 10px;
        display: flex;
        align-items : center;
        justify-content: center;
    }
    button:not(.selected):hover{
        background-color: rgba(0, 0, 0, 0.399); 
    }
    .selected{
        background-color : black;
    }
}





.page-100{
    height : 100%;
    width: 100%;
    min-height : 100vh;
    background-size : cover;
    background-position: center;
    .wrapper-form{
        background: rgba(209, 209, 209, 0.7);
        border-radius : 12px;
        width : 90%;
        max-width : 500px;
    }
}
.page-100-nav{
    height : 100%;
    width: 100vw;
    min-height : calc(100vh - 130px);
    background-size : cover;
    background-position: center;
}

/**Media Queries**/
@media all and (min-width : 450px) {
    #filter{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        .btn-search{
            position: absolute;
            right: 0px;
            width : 50px;
        }
        .input-search{
            margin : 0px;
        }
        .input-radio {
            border-bottom: 2px solid black;   
        }
        .radio-box{
            label{
                width : 100px
            }
        }
    }
}




  


