<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome !{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{asset('img/fitngo.png')}}">
        <link href="{{asset('style/index.css')}}" rel="stylesheet"/>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}  
        
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body> 
        {% block body %}{% endblock %}
    </body>
</html>
