<style>

.green{
    color : green;
}
.red{
    color : red;
}
</style>

    <h1 >Vos Permissions ont été modifiés ! </h1>    
    <p>Voici le récapitulatif de vos accès et permissions pour votre franchise {{franchise.userInfo.name}} : </p>
    <div>
        <p>Statut : </p>
        {% if franchise.isActive  %}
        <div class="green">Votre franchise est activée</div>
        {% else %}
        <div class="red">VOTRE FRANCHISE EST DESACTIVEE</div>
        {% endif %}
    </div>

    
    <div >
        <p>Options par défaut : </p>
        {% include "includes/permit.html.twig" %}
    </div>

    <div style="margin-top : 20px">
    <i>L'équipe Fitngo</i>
    </div>
</div>    

