<style>
    .green{
        color : green;
    }
    .red{
        color : red;
    }
</style>
<h1 >Vos Permissions ont été modifiés ! </h1>    
<p>Voici le récapitulatif de vos accès et permissions pour votre franchise {{franchise.userInfo.name}} : </p>
<div>
    <div>Statut : </div>
    {% if franchise.isActive  %}
    <p class="green">Votre franchise est activée</p>
    {% else %}
    <p class="red">VOTRE FRANCHISE EST DESACTIVEE</p>
    {% endif %}
</div>   
<div >
    <div>Options par défaut : </div>
    {% include "includes/permit.html.twig" %}
</div>
    <div style="margin-top : 20px">
        <i>L'équipe Fitngo</i>
    </div>
</div>    

