<h1>Vos Permissions ont été modifiés ! </h1>
Voici le récapitulatif de vos accès et permissions{{franchise.userInfo.name}}
{% if franchise.isActive  %}
Votre franchise est activé
{% else %}
Votre franchise est désactivé
{% endif %}

Vos permissions globales : 
{% for permits in permit %}
peri
{% endfor %}