<h1>Vos Permissions ont été modifiés ! </h1>
Voici le récapitulatif de vos accès et permissions pour votre franchise {{franchise.userInfo.name}}

<p>
    {% if franchise.isActive  %}
    Votre franchise est activé
    {% else %}
    Votre franchise est désactivé
    {% endif %}
</p>

Vos permissions globales activés : 
{% for permits in permit %}

{% endfor %}