<style>
    h2{
        font-size : 1.3rem;
    }
</style>
    <h1 class="h3">Welcome to Fitngo!</h1>
    <h2>La Structure {{user.name}} à été créée !</h2>
    <p>Vos identifiants de connexion ont été créés, vous recevrez un mail lorsque votre accès sera activé par Fitngo</p>
    <ul>
        <li> Email : {{user.email}}</li>
        <li> Password : {{password}}</li>
    </ul>
<div>
    <i >L'equipe Fitngo</i>
</div>
