<h1>Welcome to Fitngo!</h1>

<p>
   <h2>La franchise {{name}} à été créée !</h2>
</p>
<p>Vos identifiants de connexion ont été crées, vous recevrez un mail lorsque votre accès sera activé par Fitngo</p>

<ul>
    <li> Email : {{mail}}</li>
    <li> Password : {{password}}</li>
</ul>