<style>
    h2{
        font-size : 1.3rem;
    }
</style>
    <h1 class="h3">Nouvelle structure ! </h1>
    <h2>Fitngo est fier de vous notifier que votre Franchise s'agrandit ! </h2>
    <p>La stucture {{user.name}} de votre franchise ({{franchise.userInfo.name}}) à été créée.</p>
    <p>Un email à été envoyé à votre structure avec ses identifiants de connexion pour découvrir ses droits !<p>
<div>
    <i >L'équipe Fitngo</i>
</div>