<style>
    h2{
        font-size : 1.3rem;
    }
</style>
<h1>Welcome to Fitngo !</h1> 
<h2>Votre franchise {{franchise.userInfo.name}} à été créée !</h2>
<p>Vos identifiants de connexion ont été créée par la même occasion, vous recevrez un mail lorsque votre accès sera activé par Fitngo !</p>
<ul>
    <li> Email : {{franchise.userInfo.email}}</li>
    <li> Mot de passe : {{password}}</li>
</ul>
<div>
    <i>L'équipe Fitngo</i>
</div>